.jornal {
-webkit-column-count: 3;
-moz-column-count: 3;
    column-count: 3;
-webkit-column-gap: 40px;
-moz-column-gap: 40px;
    column-gap: 40px;
-webkit-column-rule: 1px solid lightblue;
-moz-column-rule: 1px solid lightblue;
    column-rule: 1px solid lightblue;
}

div.header {
background-color: #000000; color: white;
padding: 10px;
font-size: 40px;
}

div.card {
width: 250px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center;
}

div.container { padding: 10px;
}